{% trans_default_domain 'FOSUserBundle' %}





<div class="container" style="margin-top: 60px; margin-bottom: 60px">
<div class="row">
<div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet bordered">
            <!-- SIDEBAR USERPIC -->

            {% if app.user.photo != null %}
                <div class="profile-userpic">
                    <img style="height: 150px" src="{{ asset('images/usersImages/'~ app.user.photo.imageName ) }}" class="img-responsive" alt=""> </div>
            {% else %}
                <div class="profile-userpic">
                    <img src="{{ asset('assets/pages/media/profile/profile_user.jpg') }}" class="img-responsive" alt=""> </div>
            {% endif %}


            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">{{ app.user.nom }} {{ app.user.prenom }} </div>


            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
                <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                <button type="button" class="btn btn-circle red btn-sm">Message</button>
            </div>
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li>
                        <a href="page_user_profile_1.html">
                            <i class="icon-home"></i> Overview </a>
                    </li>
                    <li class="active">
                        <a href="page_user_profile_1_account.html">
                            <i class="icon-settings"></i> Account Settings </a>
                    </li>
                    <li>
                        <a href="page_user_profile_1_help.html">
                            <i class="icon-info"></i> Help </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
        <!-- PORTLET MAIN -->

        <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Personal Info</a>
                            </li>
                            <li>
                                <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                            </li>
                            <li class="">
                                <a href="#tab_1_3" data-toggle="tab" aria-expanded="false">Change Password</a>
                            </li>
                            <li class="">
                                <a href="#tab_1_4" data-toggle="tab" aria-expanded="false">Privacy Settings</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <!-- PERSONAL INFO TAB -->
                            <div class="tab-pane active" id="tab_1_1">
                                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                                {{ form_errors(form) }}
                                    <div class="form-group">
                                        {{ form_errors(form.email) }}
                                        {{ form_label(form.email,null,{ 'label_attr': {'class': 'control-label'} }) }}
                                        {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(form.nom) }}
                                        {{ form_label(form.nom,null,{ 'label_attr': {'class': 'control-label'} }) }}
                                        {{ form_widget(form.nom,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(form.prenom) }}
                                        {{ form_label(form.prenom,null,{ 'label_attr': {'class': 'control-label'} }) }}
                                        {{ form_widget(form.prenom,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(form.tel) }}
                                        {{ form_label(form.tel,null,{ 'label_attr': {'class': 'control-label'} }) }}
                                        {{ form_widget(form.tel,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(form.adresse) }}
                                        {{ form_label(form.adresse,null,{ 'label_attr': {'class': 'control-label'} }) }}
                                        {{ form_widget(form.adresse.value,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(form.current_password) }}
                                        {{ form_label(form.current_password,null,{ 'label_attr': {'class': 'control-label'} }) }}
                                        {{ form_widget(form.current_password,{'attr': {'class': 'form-control'}}) }}</div>
                                    <div class="margiv-top-10">

                                        <input type="submit"  class="btn green" value="{{ 'profile.edit.submit'|trans }}" />
                                    </div>
                                {{ form_end(form) }}
                            </div>
                            <!-- END PERSONAL INFO TAB -->
                            <!-- CHANGE AVATAR TAB -->
                            <div class="tab-pane" id="tab_1_2">
                                <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                    eiusmod. </p>
                                {{ form_start(form_photo, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                                {{ form_errors(form_photo) }}
                                <div class="form-group">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""> </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                            <div>
                                                {{ form_widget(form_photo) }}

                                                                        <span >



                                                                            <div class="margiv-top-10">

                                                                                <input type="submit"  class="btn green" value="{{ 'profile.edit.submit'|trans }}" />
                                                                            </div>



                                                                        </span>
                                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                        <div class="clearfix margin-top-10">
                                            <span class="label label-danger">NOTE! </span>
                                            <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                        </div>
                                    </div>
                                    <div class="margin-top-10">
                                        <a href="javascript:;" class="btn green"> Submit </a>
                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                    </div>
                                {{ form_end(form_photo, {'render_rest': false}) }}
                            </div>
                            <!-- END CHANGE AVATAR TAB -->
                            <!-- CHANGE PASSWORD TAB -->
                            <div class="tab-pane" id="tab_1_3">
                                {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                            </div>
                            <!-- END CHANGE PASSWORD TAB -->

                            <!-- PRIVACY SETTINGS TAB -->
                            <div class="tab-pane" id="tab_1_4">
                                <form action="#">
                                    <table class="table table-light table-hover">
                                        <tbody><tr>
                                            <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus.. </td>
                                            <td>
                                                <div class="mt-radio-inline">
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios1" value="option1"> Yes
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios1" value="option2" checked=""> No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                            <td>
                                                <div class="mt-radio-inline">
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios11" value="option1"> Yes
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios11" value="option2" checked=""> No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                            <td>
                                                <div class="mt-radio-inline">
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios21" value="option1"> Yes
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios21" value="option2" checked=""> No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                            <td>
                                                <div class="mt-radio-inline">
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios31" value="option1"> Yes
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        <input type="radio" name="optionsRadios31" value="option2" checked=""> No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                    <!--end profile-settings-->
                                    <div class="margin-top-10">
                                        <a href="javascript:;" class="btn red"> Save Changes </a>
                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                    </div>
                                </form>
                            </div>
                            <!-- END PRIVACY SETTINGS TAB -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PROFILE CONTENT -->
</div>

</div>
</div>