{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form_pass, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}



    <div class="form-group">
        {{ form_label(form_pass.current_password,null,{ 'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form_pass.current_password) }}
        {{ form_widget(form_pass.current_password,{'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form_pass.plainPassword.first,null,{ 'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form_pass.plainPassword.first) }}
        {{ form_widget(form_pass.plainPassword.first,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form_pass.plainPassword.second,null,{ 'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form_pass.plainPassword.second) }}
        {{ form_widget(form_pass.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_widget(form_pass.save,{'attr': {'class': 'btn green'}}) }}

{{ form_end(form_pass) }}


