<footer id="footer">

    <div id="inner-footer">

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 widget">



                    <h3>{{ 'footer.titles.Payment'|trans({}, 'StageappBundle') }}</h3>
                    <img class="img-responsive" style="box-shadow:none" alt="" src="{{ asset('bundles/stageapp/images/paypal.png') }}">
                    <h5 class="footer_shipping">Livraison rapide en 24/48h</h5>



                </div><!-- End .widget -->


                <div class="col-md-3 col-sm-4 col-xs-12 widget">
                    <h3>{{ 'footer.titles.Products'|trans({}, 'StageappBundle') }}</h3>
                    <ul class="links">

                    </ul>
                </div><!-- End .widget -->

                <div class="col-md-3 col-sm-4 col-xs-12 widget">
                    <h3>{{ 'footer.titles.Info'|trans({}, 'StageappBundle') }}</h3>
                    <ul class="links">

                        <li><a href="#">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="#">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </div><!-- End .widget -->

                <div class="col-md-3 col-sm-4 col-xs-12 widget">
                    <h3>{{ 'footer.titles.Service'|trans({}, 'StageappBundle') }}</h3>


                </div><!-- End .widget -->

                <div class="clearfix visible-sm"></div>


            </div><!-- End .row -->
        </div><!-- End .container -->

    </div><!-- End #inner-footer -->

    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12 footer-social-links-container">
                    <ul class="social-links clearfix">
                        <li><a href="#" class="social-icon icon-facebook"></a></li>
                        <li><a href="#" class="social-icon icon-twitter"></a></li>
                        <li><a href="#" class="social-icon icon-rss"></a></li>
                        <li><a href="#" class="social-icon icon-delicious"></a></li>
                        <li><a href="#" class="social-icon icon-linkedin"></a></li>
                        <li><a href="#" class="social-icon icon-flickr"></a></li>
                        <li><a href="#" class="social-icon icon-skype"></a></li>
                        <li><a href="#" class="social-icon icon-email"></a></li>
                    </ul>
                </div><!-- End .col-md-7 -->

                <div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
                    <p>&copy; 2016 Powered by Company&trade;. All Rights Reserved.</p>
                </div><!-- End .col-md-5 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-bottom -->

</footer><!-- End #footer -->